
<pre><a href="/">Home</a>     <a href="/events">All Events</a>     <a href="/organizers">Event Organizers</a>     <a href="/logout">Organizer Logout</a></pre>

<% if flash[:error] && current_organizer != @event.organizer %>
	<p><%= flash[:error] %></p>	
<% end %>

<br>

<h2>Event: <%= @event.name %></h2>

<p>Date: <%= @event.date %></p>

<p>Start Time: <%= @event.start_time %></p>

<p>Location: <%= @event.location %></p>

<p>Contact Information: <%= @event.contact_email %></p>

<p>Website: <a href="<%= @event.website_url %>"><%= @event.website_url %></a></p>

<p><%= @event.message %></p>

<h3>List of Races in Event</h3>

<% if @event.races.empty? %>
	<p><%= flash[:message] %></p>
<% else %>
	<ul>
		<% @event.races.each do |race| %>
			<li><%= race.name %></li>
		<% end %>
	</ul>
<% end %>
<br>

<% if session[:organizer_id] && @event.organizer_id == session[:organizer_id] %>
    <a href="/events/<%= @event.id %>/edit">Edit Event</a><br><br>

	<form action="/events/<%= @event.id %>" method="POST" >
		<input type="hidden" id="hidden" name="_method" value="delete" >
		<input type="submit" value="Delete Event">
	</form>
<% end %>

<footer>
	&copy; 2018 Hal Fields. All Rights Reserved.
</footer>
	