<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>

<h2>Event: <%= @event.name %></h2>

<p>Date: <%= @event.date %></p>

<p>Contact Information: <%= @event.contact_info %></p>

<p><%= @event.message %></p>

<h3>List of Races in Event</h3>

<ul>
	<% @races.each do |race| %>
		<li><%= race %></li>
	<% end %>
</ul>

<form action="/events/<%= @event.id %>" method="POST">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" name="submit" value="Delete">
</form>

<br>
<% if logged_in? %>
    <pre><a href="/">Home</a>     <a href="/events/<%= @event.id %>/edit">Edit</a>     <a href="/events">Event List</a>     <a href="/logout">Logout</a></pre>
<% else %>
	<pre><a href="/">Home</a>     <a href="/events">Event List</a>     <a href="/logout">Logout</a></pre>
<% end %>
